.header {
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden; /* свойство, позволяющее закрыть выпирающий синий квадрат на 620 height*/
  /* выше установили ограничения для секции */
}
